body {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

* {
    font-family: scotch-display-compressed, sans-serif;
    font-weight: 900;
    font-style: normal;
    align-content: center;
}

.container {
    max-width: 1140px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 32%;
    background-color: #febd01;
    bottom: 0px;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.portfolio {
    background-color: white;
    padding: 100px 7px;
}

.portfolio .section-title h1:before {
    left: 30%;
}

.portfolio .list {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.portfolio .list ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .list ul li {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio .list ul li.active {
    color: #febd01;
    border-bottom: 2px solid #febd01;
}

.portfolio .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
}

.portfolio .portfolio-gallery .column {
    flex: 30%;
    max-width: 33%;
    padding: 0 8px;
}

.portfolio .portfolio-gallery .item {
    position: relative;
}

.portfolio .portfolio-gallery .item img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media(max-width:767px) {
    .portfolio .portfolio-gallery .item {
        flex: 48%;
        max-width: 50%;
    }
}

@media(max-width:500px) {
    .portfolio .portfolio-gallery .item {
        flex: 100%;
        max-width: 100%;
    }
}