* {
    font-family: scotch-display-compressed, sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f59ffa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: auto;
    height: 25vh;
    /*    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));*/
    background-size: cover;
    background-position: center;
}

.navbar {
    float: right;
    width: 100%;
    font-size: 130%;
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo {
    float: left;
    width: 200px;
    overflow: hidden;
    margin-left: 10vh;
}

.navbar ul li {
    /* float: right; */
    padding-top: auto;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    /* position: relative; */
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #FF89FF;
    position: absolute;
    left: 0;
    bottom: -.5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


/*Book*/

.book {
    margin-top: 0;
    position: relative;
    width: 375px;
    height: 562.5px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid aliceblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
}


/*Paper Flip Effect*/

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}


/*Controller Buttons*/

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}


/* Paper Stack Order*/

#p1 {
    z-index: 43;
}

#p2 {
    z-index: 42;
}

#p3 {
    z-index: 41;
}

#p4 {
    z-index: 40;
}

#p5 {
    z-index: 39;
}

#p6 {
    z-index: 38;
}

#p7 {
    z-index: 37;
}

#p8 {
    z-index: 36;
}

#p9 {
    z-index: 35;
}

#p10 {
    z-index: 34;
}

#p11 {
    z-index: 33;
}

#p12 {
    z-index: 32;
}

#p13 {
    z-index: 31;
}

#p14 {
    z-index: 30;
}

#p15 {
    z-index: 29;
}

#p16 {
    z-index: 28;
}

#p17 {
    z-index: 27;
}

#p18 {
    z-index: 26;
}

#p19 {
    z-index: 25;
}

#p20 {
    z-index: 24;
}

#p21 {
    z-index: 23;
}

#p22 {
    z-index: 22;
}

#p23 {
    z-index: 21;
}

#p24 {
    z-index: 20;
}

#p25 {
    z-index: 19;
}

#p26 {
    z-index: 18;
}

#p27 {
    z-index: 17;
}

#p28 {
    z-index: 16;
}

#p29 {
    z-index: 15;
}

#p30 {
    z-index: 14;
}

#p31 {
    z-index: 13;
}

#p32 {
    z-index: 12;
}

#p33 {
    z-index: 11;
}

#p34 {
    z-index: 10;
}

#p35 {
    z-index: 9;
}

#p36 {
    z-index: 8;
}

#p37 {
    z-index: 7;
}

#p38 {
    z-index: 6;
}

#p39 {
    z-index: 5;
}

#p40 {
    z-index: 4;
}

#p41 {
    z-index: 3;
}

#p42 {
    z-index: 2;
}

#p43 {
    z-index: 1;
}

#f1 {
    background-image: url(fcover.jpg);
    background-size: 375px 562.5px;
}

#b1 {
    background-image: url(p-01.jpg);
    background-size: 375px 562.5px;
}

#f2 {
    background-image: url(p-02.jpg);
    background-size: 375px 562.5px;
}

#b2 {
    background-image: url(p-03.jpg);
    background-size: 375px 562.5px;
}

#f3 {
    background-image: url(p-04.jpg);
    background-size: 375px 562.5px;
}

#b3 {
    background-image: url(p-05.jpg);
    background-size: 375px 562.5px;
}

#f4 {
    background-image: url(p-06.jpg);
    background-size: 375px 562.5px;
}

#b4 {
    background-image: url(p-07.jpg);
    background-size: 375px 562.5px;
}

#f5 {
    background-image: url(p-08.jpg);
    background-size: 375px 562.5px;
}

#b5 {
    background-image: url(p-09.jpg);
    background-size: 375px 562.5px;
}

#f6 {
    background-image: url(p-10.jpg);
    background-size: 375px 562.5px;
}

#b6 {
    background-image: url(p-11.jpg);
    background-size: 375px 562.5px;
}

#f7 {
    background-image: url(p-12.jpg);
    background-size: 375px 562.5px;
}

#b7 {
    background-image: url(p-13.jpg);
    background-size: 375px 562.5px;
}

#f8 {
    background-image: url(p-14.jpg);
    background-size: 375px 562.5px;
}

#b8 {
    background-image: url(p-15.jpg);
    background-size: 375px 562.5px;
}

#f9 {
    background-image: url(p-16.jpg);
    background-size: 375px 562.5px;
}

#b9 {
    background-image: url(p-17.jpg);
    background-size: 375px 562.5px;
}

#f10 {
    background-image: url(p-18.jpg);
    background-size: 375px 562.5px;
}

#b10 {
    background-image: url(p-19.jpg);
    background-size: 375px 562.5px;
}

#f11 {
    background-image: url(p-20.jpg);
    background-size: 375px 562.5px;
}

#b11 {
    background-image: url(p-21.jpg);
    background-size: 375px 562.5px;
}

#f12 {
    background-image: url(p-22.jpg);
    background-size: 375px 562.5px;
}

#b12 {
    background-image: url(p-23.jpg);
    background-size: 375px 562.5px;
}

#f13 {
    background-image: url(p-24.jpg);
    background-size: 375px 562.5px;
}

#b13 {
    background-image: url(p-25.jpg);
    background-size: 375px 562.5px;
}

#f14 {
    background-image: url(p-26.jpg);
    background-size: 375px 562.5px;
}

#b14 {
    background-image: url(p-27.jpg);
    background-size: 375px 562.5px;
}

#f15 {
    background-image: url(p-28.jpg);
    background-size: 375px 562.5px;
}

#b15 {
    background-image: url(p-29.jpg);
    background-size: 375px 562.5px;
}

#f16 {
    background-image: url(p-30.jpg);
    background-size: 375px 562.5px;
}

#b16 {
    background-image: url(p-31.jpg);
    background-size: 375px 562.5px;
}

#f17 {
    background-image: url(p-32.jpg);
    background-size: 375px 562.5px;
}

#b17 {
    background-image: url(p-33.jpg);
    background-size: 375px 562.5px;
}

#f18 {
    background-image: url(p-34.jpg);
    background-size: 375px 562.5px;
}

#b18 {
    background-image: url(p-35.jpg);
    background-size: 375px 562.5px;
}

#f19 {
    background-image: url(p-36.jpg);
    background-size: 375px 562.5px;
}

#b19 {
    background-image: url(p-37.jpg);
    background-size: 375px 562.5px;
}

#f20 {
    background-image: url(p-38.jpg);
    background-size: 375px 562.5px;
}

#b21 {
    background-image: url(p-39.jpg);
    background-size: 375px 562.5px;
}

#f22 {
    background-image: url(p-40.jpg);
    background-size: 375px 562.5px;
}

#b22 {
    background-image: url(p-41.jpg);
    background-size: 375px 562.5px;
}

#f23 {
    background-image: url(p-42.jpg);
    background-size: 375px 562.5px;
}

#b23 {
    background-image: url(p-43.jpg);
    background-size: 375px 562.5px;
}

#f24 {
    background-image: url(p-44.jpg);
    background-size: 375px 562.5px;
}

#b24 {
    background-image: url(p-45.jpg);
    background-size: 375px 562.5px;
}

#f25 {
    background-image: url(p-46.jpg);
    background-size: 375px 562.5px;
}

#b25 {
    background-image: url(p-47.jpg);
    background-size: 375px 562.5px;
}

#f26 {
    background-image: url(p-48.jpg);
    background-size: 375px 562.5px;
}

#b26 {
    background-image: url(p-49.jpg);
    background-size: 375px 562.5px;
}

#f27 {
    background-image: url(p-50.jpg);
    background-size: 375px 562.5px;
}

#b27 {
    background-image: url(p-51.jpg);
    background-size: 375px 562.5px;
}

#f28 {
    background-image: url(p-52.jpg);
    background-size: 375px 562.5px;
}

#b28 {
    background-image: url(p-53.jpg);
    background-size: 375px 562.5px;
}

#f29 {
    background-image: url(p-54.jpg);
    background-size: 375px 562.5px;
}

#b29 {
    background-image: url(p-55.jpg);
    background-size: 375px 562.5px;
}

#f30 {
    background-image: url(p-56.jpg);
    background-size: 375px 562.5px;
}

#b30 {
    background-image: url(p-57.jpg);
    background-size: 375px 562.5px;
}

#f31 {
    background-image: url(p-58.jpg);
    background-size: 375px 562.5px;
}

#b31 {
    background-image: url(p-59.jpg);
    background-size: 375px 562.5px;
}

#f32 {
    background-image: url(p-60.jpg);
    background-size: 375px 562.5px;
}

#b32 {
    background-image: url(p-61.jpg);
    background-size: 375px 562.5px;
}

#f33 {
    background-image: url(p-62.jpg);
    background-size: 375px 562.5px;
}

#b33 {
    background-image: url(p-63.jpg);
    background-size: 375px 562.5px;
}

#f34 {
    background-image: url(p-64.jpg);
    background-size: 375px 562.5px;
}

#b34 {
    background-image: url(p-65.jpg);
    background-size: 375px 562.5px;
}

#f35 {
    background-image: url(p-66.jpg);
    background-size: 375px 562.5px;
}

#b35 {
    background-image: url(p-67.jpg);
    background-size: 375px 562.5px;
}

#f36 {
    background-image: url(p-68.jpg);
    background-size: 375px 562.5px;
}

#b36 {
    background-image: url(p-69.jpg);
    background-size: 375px 562.5px;
}

#f37 {
    background-image: url(p-70.jpg);
    background-size: 375px 562.5px;
}

#b37 {
    background-image: url(p-71.jpg);
    background-size: 375px 562.5px;
}

#f38 {
    background-image: url(p-72.jpg);
    background-size: 375px 562.5px;
}

#b38 {
    background-image: url(p-73.jpg);
    background-size: 375px 562.5px;
}

#f39 {
    background-image: url(p-74.jpg);
    background-size: 375px 562.5px;
}

#b39 {
    background-image: url(p-75.jpg);
    background-size: 375px 562.5px;
}

#f40 {
    background-image: url(p-76.jpg);
    background-size: 375px 562.5px;
}

#b40 {
    background-image: url(p-77.jpg);
    background-size: 375px 562.5px;
}

#f41 {
    background-image: url(p-78.jpg);
    background-size: 375px 562.5px;
}

#b41 {
    background-image: url(p-79.jpg);
    background-size: 375px 562.5px;
}

#f42 {
    background-image: url(p-80.jpg);
    background-size: 375px 562.5px;
}

#b42 {
    background-image: url(p-81.jpg);
    background-size: 375px 562.5px;
}

#f43 {
    background-image: url(p-82.jpg);
    background-size: 375px 562.5px;
}

#b43 {
    background-image: url(bcover.jpg);
    background-size: 375px 562.5px;
}