* {
    font-family: scotch-display-compressed, sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #f59ffa;
    padding: 0;
    margin: 0;
}

.banner {
    width: auto;
    height: 100vh;
    /*    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));*/
    background-size: cover;
    background-position: center;
}

.banner2 {
    width: auto;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-size: cover;
    background-position: center;
}

.navbar {
    float: right;
    width: 100%;
    font-size: 130%;
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo {
    float: left;
    width: 200px;
    overflow: hidden;
    margin-left: 10vh;
}

.navbar ul li {
    float: right;
    padding-top: auto;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #FF89FF;
    position: absolute;
    left: 0;
    bottom: -.5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#instagram {
    width: 30px;
    height: 30px;
}

.button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}